{% extends "pagi/navegador.html" %}
{% block titulo %}Directorio{% endblock %}
{% block contenido %}
<div class="col-md-8 mx-auto">
    <div class="card">
    
        <div class="p-3 mb-2 bg-dark text-white">
            <h1 class="display-2 text-white text-center">Bienvenidos Al Sistema De Compras De Materiales</h1>
            <hr class="my-4">
            <p>Buscamos Construir, y servir a nuestro mundo, siendo una empresa altamente productiva y plenamente
                humana. Día a día queremos alcanzar nuestros logros y avanzar en nuestros propósitos. Esto es lo que constituye
                nuestra razón de ser como empresa.</p>
            <a href="https://www.google.com/" class="btn btn-primary btn-lg">Google</a>
        
        </div>


        

    </div>
</div>

{% endblock %}