@charset "UTF-8";

body {
    background: #119c4d;
    background: -webkit-linear-gradient(to right, #292E49, #1791d8, #BBD2C5);
    background: linear-gradient(to right, #25251e, #0396eb, #279b59);

}

h1 {
    color: rgb(255, 0, 119);
}